setuptools<81
Flask==3.0.0
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
cryptography
PyJWT==2.8.0
python-dotenv
pyotp
qrcode
requests
numpy<2
opencv-python-headless
Pillow
psycopg2-binary
mediapipe==0.10.21
scikit-learn==1.2.2
joblib
SpeechRecognition
pydub
web3
gunicorn
face-recognition
git+https://github.com/ageitgey/face_recognition_models
